* {
  box-sizing: border-box;
}
:root {
  --primary-color: #ff5b2e;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  background-color: #fffaf5;
}
/* Common */
h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: "Sora", sans-serif;
  text-decoration: none;
}
input,
textarea,
select,
button {
  font-size: inherit;
  font-family: inherit;
}
.container {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}
.btn {
  --height: 56px;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 130px;
  height: var(--height);
  line-height: var(--height);
  border: 1px solid rgba(0, 9, 88, 0.7);
  border-radius: 99px;
  font-style: normal;
  font-weight: 600;
  font-size: 1.4rem;
  text-align: center;
  color: #000958;
  transition: 0.5s ease;
}
.btn:hover {
  opacity: 0.9;
  cursor: pointer;
  border-color: transparent;
}
.btn--primary {
  color: #fff !important;
  background-color: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
}
.btn__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 4px 3px 10px -1px rgba(191, 41, 0, 0.4);
}
.section-heading {
  font-family: "Sora";
  font-style: normal;
  font-weight: 700;
  font-size: 5.2rem;
  line-height: 1.19;
  color: #000958;
}
.section-desc {
  margin-top: 24px;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.88;
  color: #656689;
}
/* Header */
.header {
  padding: 26px 0;
}
.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav__list {
  display: flex;
}
.nav__link,
.header-action__link {
  padding: 8px 18px;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1;
  color: #5e6085;
}
.nav__link:hover {
  font-weight: 600;
  color: #000958;
}
.header-action__btn {
  --height: 50px;
  min-width: 118px;
}
/* Hero */
.hero {
  margin-top: 74px;
}
.hero__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 120px;
}
.hero__media {
  display: flex;
  position: relative;
  padding-bottom: 94px;
}
.hero__img-wrap {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 388px;
  height: 488px;
  background: #fe997b;
  border-radius: 16px;
  border: 3px solid #fff;
}
.hero__img {
  max-width: 100%;
  max-height: 100%;
  border-radius: inherit;
}
.hero__deco {
  position: absolute;
  z-index: -1;
}
.hero__deco-left {
  left: -58px;
  bottom: 10px;
}
.hero__deco-right {
  top: 16px;
  right: -43px;
}
.hero__img-wrap-small {
  align-self: flex-end;
  width: 186px;
  height: 244px;
  margin: 0 0 -58px -24px;
  border: 2px solid #fcdbde;
  background: #faa7ad;
}
.hero__list {
  position: absolute;
  left: 129px;
  bottom: 0;
  width: 250px;
  height: 156px;
  padding: 18px 14px;
  background: #ffffff;
  box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
  border-radius: 10px;
}
.hero-list-item {
  display: flex;
}
.hero-list-item:last-child .hero-list-item__thumb {
  background: #c6e2fa;
}
.hero-list-item__thumb {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  object-fit: cover;
  background: #fec23f;
}
.hero-list-item__info {
  margin-left: 10px;
}
.hero-list-item__title {
  font-family: "Sora", sans-serif;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1;
  color: #181e52;
}
.hero-list-item__skeleton {
  margin-top: 6px;
  width: var(--with, 118px);
  height: 4px;
  background: #000958;
  opacity: 0.08;
  border-radius: 10px;
}
.hero-list-item__separate {
  width: 100%;
  height: 2px;
  margin: 20px 0;
  border-radius: 99px;
  background-color: #f2f2f2;
}
.hero__heading {
  font-family: "Sora";
  font-weight: 800;
  font-size: 6.6rem;
  line-height: 1.15;
  color: #000958;
}
.hero__desc {
  margin-top: 24px;
  width: 391px;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 1.6;
  line-height: 1.88;
  color: #656689;
}
.hero__row {
  margin-top: 38px;
  align-items: center;
  display: flex;
}
.hero__cta-btn {
  --height: 60px;
  min-width: 190px;
  font-size: 1.6rem;
  box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}
.hero__cta-link {
  margin-left: 24px;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1;
  text-decoration: underline;
  color: #000958;
}
.hero__cta-btn {
  --height: 60px;
  min-width: 190px;
  font-size: 1.6rem;
  box-shadow: 0px 13px 26px -8px rgb(255 91 46 / 42%);
}
/* About */
.about {
  margin-top: 138px;
}
.about__inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  row-gap: 146px;
}
.about__media {
  position: relative;
}
.about__label {
  font-family: "Sora", sans-serif;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1;
  color: #5e6085;
}
.about__heading {
  margin-top: 15px;
}
.about__heading,
.about__desc {
  width: 444px;
}
.about__checklist {
  display: grid;
  grid-template-columns: auto auto;
  gap: 36px;
  margin-top: 54px;
  justify-content: flex-start;
}
.about__check-item {
  position: relative;
  display: flex;
  align-items: center;
  column-gap: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1;
  color: #48496a;
}
.about__check-item::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background: #ff5d31;
  box-shadow: 0px 4px 15px -3px rgba(255, 93, 49, 0.69);
  border-radius: 4px;
}
.about__check-item::after {
  content: url(../img/icon/Check.svg);
  position: absolute;
  top: 2px;
  left: 5px;
}
.about__card {
  position: absolute;
  top: 165px;
  left: 0;
  width: 136px;
  padding: 30px 26px;
  text-align: center;
  background: #5bd6e2;
  box-shadow: -15px 26px 48px rgba(85, 240, 255, 0.17);
  border-radius: 10px;
}
.about__card-title {
  font-family: "Sora", sans-serif;
  font-weight: 700;
  font-size: 4.2;
  line-height: 1;
  color: #ffffff;
}
.about__card-desc {
  margin-top: 14px;
  font-size: 1.4rem;
  line-height: 1.43;
  color: #c6f4f9;
}
.about__card-deco {
  position: absolute;
  top: -40px;
  right: -30px;
}
.about__img-wrap {
  position: relative;
  margin-left: auto;
  width: 494px;
}
.about__img-wrap::after {
  position: absolute;
  z-index: -1;
  content: " ";
  inset: auto 0 0 0;
  height: 336px;
  background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
  border-radius: 16px;
}
.about__img {
  display: block;
  margin: 0 auto;
  width: 450px;
}
.about__media-deco {
  z-index: -1;
  position: absolute;
  top: 157px;
  right: -51px;
}
.about__img-wra-bottom {
  margin-left: 0;
  width: 458px;
  background: linear-gradient(180deg, #c6e2fa 0%, #94c2ea 100%);
  border: 2px solid #ffffff;
  box-shadow: 0px 17px 77px -8px rgba(190, 165, 139, 0.17);
  border-radius: 18px;
}
.about__img-wra-bottom::after {
  content: none;
}
.about__img-bottom {
  width: 100%;
}
.about__deco-img {
  position: absolute;
}
.about__deco-img:first-child {
  top: 13px;
  right: 64px;
}
.about__deco-img:nth-child(2) {
  top: -16px;
  right: 13px;
}
.about__deco-img:nth-child(3) {
  top: 33px;
  right: -21px;
}
.about__deco-img:nth-child(4) {
  top: 268px;
  right: -33px;
}
.about__deco-img:nth-child(5) {
  bottom: 150px;
  right: 19px;
}
.about__deco-img:nth-child(6) {
  bottom: -40px;
  right: -24px;
}
.about__deco-img:nth-child(7) {
  bottom: -47px;
  right: -33px;
}
.about__deco-img:nth-child(8) {
  bottom: -55px;
  right: -42px;
}
.about__desc-bottom {
  width: 511px;
  margin-bottom: 50px;
}
.tab__list {
  position: relative;
  display: inline-flex;
  column-gap: 56px;
}
.tab__list::after,
.tab__item-active::after,
.tab__content-more::after {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  opacity: 0.07;
  border-radius: 1px;
  background-color: #ff5b2e;
}
.tab__item-active::after {
  width: 95px;
  opacity: 1;
}
.tab__item {
  cursor: pointer;
  padding-bottom: 10px;
  position: relative;
  display: flex;
  align-items: center;
  column-gap: 12px;
}
.tab__icon {
  width: 18px;
  height: 18px;
}
.tab__title {
  font-family: "Sora", sans-serif;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1;
  color: #48496a;
}
.tab__content {
  padding-top: 36px;
}
.tab__content-item {
  display: none;
}
.tab__content-item-active {
  display: block;
}
.tab__content-desc {
  width: 391px;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.71;
  color: #656689;
}
.tab__content-more {
  position: relative;
  display: inline-block;
  padding-bottom: 5px;
  margin-top: 32px;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1;
  color: #ff5d31;
}
.tab__content-more::after {
  height: 1.5px;
  opacity: 1;
}
/* Service */
.service {
  margin-top: 190px;
  padding: 68px 0 100px;
  background-color: #fff6ed;
}
.service__top {
  text-align: center;
}
.service__desc {
  margin-bottom: 15px;
  font-family: "Sora";
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1;
  color: #5e6085;
}
.service__body {
  margin-top: 70px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 70px;
}
.service-item {
  padding: 30px;
  width: 294px;
  background: #ffffff;
  border: 2px solid rgba(255, 188, 122, 0.26);
  border-radius: 10px;
}
.service-item + .service-item {
  margin-top: 24px;
}
.service-item__heading {
  position: relative;
  padding-left: 12px;
  font-family: "Sora";
  font-style: normal;
  font-weight: 600;
  font-size: 2.2rem;
  line-height: 1;
  color: #000958;
}
.service-item__heading::before {
  content: "";
  display: inline-block;
  inset: 0 auto 0 0;
  position: absolute;
  width: 2px;
  border-radius: 1px;
  background: linear-gradient(#ff5b2e, #ffa187);
}
.service-item__desc {
  width: 244px;
  margin-top: 18px;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.71;
  color: #656689;
}
.service-item__more {
  display: inline-flex;
  align-items: center;
  margin-top: 24px;
  font-family: "Sora";
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1;
  color: #34396a;
}
.service-item__more::after {
  content: url(../img/icon/ArrowUpRight.svg);
  margin-left: 5px;
  margin-top: 2px;
}
.service__media {
  position: relative;
  margin-top: 18px;
}
.service__media::after {
  content: "";
  position: absolute;
  height: 350px;
  left: 16px;
  right: 16px;
  bottom: 0;
  background: linear-gradient(180deg, #9df1fb 0%, #73d0db 108.14%);
  border-radius: 10px;
}
.service__img {
  position: relative;
  display: block;
  width: 100%;
  z-index: 1;
}
.service__cta-wrap {
  display: flex;
  justify-content: center;
  margin-top: 45px;
}
.service__cta {
  min-width: 214px;
  color: #ff5b2e;
  border-color: currentColor;
}
/* Staff */
.staff {
  padding: 130px 0;
}
.staff-item {
  text-align: center;
}
.staff__desc,
.staff__heading {
  text-align: center;
}
.staff__desc {
  font-family: "Sora";
  font-style: normal;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1;
  color: #5e6085;
}
.staff__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 35px;
  margin-top: 45px;
}
.staff-item__img {
  width: 100%;
  position: relative;
  z-index: 1;
  display: block;
  border-radius: inherit;
}
.staff-item__img-wrap {
  position: relative;
  margin: 0 16px;
  border-radius: 130px;
}

.staff-item__img-wrap::before {
  content: "";
  position: absolute;
  border-radius: inherit;
  height: 94%;
  width: 100%;
  bottom: 0;
  left: 0;
  background: linear-gradient(180deg, #90ccff 0%, #59a8eb 95.96%);
}
.staff-item:nth-child(2) .staff-item__img-wrap::before {
  background: linear-gradient(180deg, #ff997e 0%, #f3752e 100%);
}
.staff-item:nth-child(3) .staff-item__img-wrap::before {
  background: linear-gradient(180deg, #fabf3e 0%, #ffa14a 100%);
}
.staff-item:nth-child(4) .staff-item__img-wrap::before {
  background: linear-gradient(180deg, #5bd6e2 0%, #00a7cc 100%);
}
.staff-item__img-wrap::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: calc(100% + 36px);
  height: 100%;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100%;
}
.staff-item:nth-child(1) .staff-item__img-wrap::after {
  background-image: url(../img/Staff-deco-1.svg);
}
.staff-item:nth-child(2) .staff-item__img-wrap::after {
  background-image: url(../img/Staff-deco-2.svg);
}
.staff-item:nth-child(3) .staff-item__img-wrap::after {
  background-image: url(../img/Staff-deco-3.svg);
}
.staff-item:nth-child(4) .staff-item__img-wrap::after {
  background-image: url(../img/Staff-deco-4.svg);
}
.staff-item:nth-child(even) .staff-item__img-wrap::after {
  background-position: 0 16px;
}
.staff-item__title {
  margin-top: 34px;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1;
  color: #656689;
}
.staff-item__name {
  margin-top: 14px;
  font-family: "Sora";
  font-style: normal;
  font-weight: 600;
  font-size: 2.2rem;
  line-height: 100%;
  color: #000958;
}
.staff__cta-wrap {
  margin-top: 48px;
  display: flex;
  justify-content: center;
}
.staff__cta {
  min-width: 193px;
  color: #ff5b2e;
  border-color: currentColor;
}
/* Pricing */
.pricing {
  padding: 86px 0;
  background-color: #fff6ed;
}
.pricing__container {
  width: 994px;
}
.pricing__heading,
.pricing__desc {
  text-align: center;
}
.pricing__desc {
  width: 709px;
  margin-left: auto;
  margin-right: auto;
}
.pricing__switch-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 38px;
}
.pricing__switch-label {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 276px;
  height: 56px;
  padding: 0 40px;
  border: 1px solid rgb(255 91 46 / 60%);
  border-radius: 99px;
  user-select: none;
  cursor: pointer;
  transition: 0.5s ease;
}
.pricing__switch-label::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 140px;
  height: 100%;
  background: #ff5b2e;
  border-radius: inherit;
}
.pricing__switch-value {
  position: relative;
  z-index: 1;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1;
  color: #ffffff;
}
.pricing__switch-input:checked + .pricing__switch-label::before {
  left: auto;
  right: 0;
  width: 131px;
}
.pricing__switch-input:not(:checked)
  + .pricing__switch-label
  .pricing__switch-value:nth-child(2),
.pricing__switch-input:checked
  + .pricing__switch-label
  .pricing__switch-value:nth-child(1) {
  color: #ff5b2e;
}
.pricing__switch-inner {
  position: relative;
}
.pricing__sell-off {
  position: absolute;
  top: -10px;
  right: -112px;
}
.pricing__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 44px;
  margin-top: 56px;
}
.pricing-item {
  padding: 30px 28px;
  background-color: #fff;
  border-radius: 20px;
}
.pricing-item__active {
  box-shadow: 0px 20px 44px rgba(195, 108, 22, 0.06);
}
.pricing-item__type {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1;
  color: #ff5b2e;
}
.pricing-item__heading {
  margin-top: 8px;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1;
  color: #3f4065;
}
.pricing-item__price {
  margin-top: 24px;
  font-family: "Sora";
  font-weight: 700;
  font-size: 3.3rem;
  line-height: 1.03;
  color: #000958;
}
.pricing-item__btn {
  --height: 44px;
  margin-top: 22px;
  width: 100%;
  border: 1px solid rgba(255, 91, 46, 0.6);
  color: #ff5b2e;
  background: transparent;
}
.pricing-item__item {
  display: flex;
  margin-top: 18px;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1;
  color: #656689;
}
.pricing-item__item::before {
  content: url(../img/icon/Pricing-check.svg);
  margin-right: 14px;
}
.pricing-item__check-low::before {
  content: url(../img/icon/Pricing-check-low.svg);
}
.pricing-item__list {
  margin-top: 24px;
}
/* Review */
.review {
  padding: 104px 0 52px;
}
.review__inner {
  display: flex;
  align-items: center;
  column-gap: 44px;
}
.review__control {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  color: #ff5b2e;
  border: 1.5px solid #ffd1c4;
  background: transparent;
}
.review__control:nth-of-type(2) {
  margin-left: auto;
}
.review__control:hover {
  background-color: #ff5b2e;
  color: #fff;
  box-shadow: 0px 5px 27px rgba(255, 91, 46, 0.3);
  border-color: #ff5b2e;
}
.review-item {
  display: flex;
  align-items: center;
  column-gap: 115px;
}
.review-item__media {
  margin-top: -52px;
  position: relative;
  flex-shrink: 0;
  width: 274px;
  border-radius: 137px;
}
.review-item__media::after {
  content: "";
  position: absolute;
  inset: auto 0 0 0;
  height: 82%;
  background-color: #ffda54;
  border-radius: inherit;
}
.review-item__img {
  position: relative;
  z-index: 1;
  display: block;
  width: 100%;
  border-radius: inherit;
}
.review-item__quote {
  margin-top: 24px;
  width: 553px;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.56;
  color: #000000;
}
.review-item__author {
  display: flex;
  align-items: center;
  margin-top: 34px;
  font-family: "Sora";
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1;
  color: #282828;
}
.review-item__author::before {
  margin-right: 8px;
  display: inline-block;
  content: "";
  width: 20px;
  height: 2px;
  background-color: #000;
  border-radius: 1px;
}
.review__dots {
  margin-top: 56px;
  display: flex;
  justify-content: center;
  column-gap: 8px;
}
.review__dot {
  width: 8px;
  height: 8px;
  border: 1px solid #ff5b2e;
  border-radius: 4px;
}
.review__dot:hover {
  background-color: #ff5b2e;
  cursor: pointer;
}
.review__dot-active {
  width: 24px;
  background-color: #ff5b2e;
}
/* Blog */
.blog {
  padding: 78px 0;
}
.blog-top {
  display: flex;
  justify-content: space-between;
  align-self: center;
}
.blog-info {
  width: 350px;
  margin-right: 74px;
}
.blog-info__desc {
  margin-top: 0;
}
.blog-cta {
  min-width: 182px;
  margin-top: 24px;
  border: 1px solid rgb(255 91 46 / 60%);
  color: #ff5b2e;
}
.blog-list {
  margin-top: 54px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 38px;
}
.blog-item__time {
  font-family: "Sora";
  font-size: 1.4rem;
  line-height: 1.21;
  color: #fff;
}
.blog-item__img-wrap {
  padding: 24px 0 0 36px;
  background: #90ccff;
  border-radius: 24px;
  margin-top: 25px;
}
.blog-item:nth-child(2) .blog-item__img-wrap {
  background: #ff997e;
}
.blog-item:nth-child(3) .blog-item__img-wrap {
  background: #5bd6e2;
}
.blog-item__img {
  display: block;
  height: 296px;
  width: 100%;
  object-fit: cover;
}
.blog-item__info {
  margin: 28px 16px 0 0;
}
.blog-item__title {
  font-weight: 600;
  font-size: 2.2rem;
  line-height: 1.56;
  color: #000958;
}
.blog-item__desc {
  margin-top: 16px;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.71;
  color: #656689;
}
/* Footer */
.footer {
  margin-top: 52px;
  background: linear-gradient(to right, #fff6ed 44%, transparent 42%);
}
.footer__inner {
  display: flex;
}
.footer__left {
  padding: 114px 0 148px 0;
  width: 42%;
}
.footer__right {
  flex: 1;
  padding: 52px 0 48px 0;
}
.footer__row {
  display: grid;
  margin-left: 129px;
  grid-template-columns: auto auto;
  gap: 57px 100px;
}
.footer__heading {
  font-family: "Sora";
  font-style: normal;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.11;
  color: #000958;
}
.footer__list {
  margin-top: 14px;
}
.footer__link {
  font-size: 1.4rem;
  line-height: 2;
  color: #656689;
}
.footer__link:hover {
  text-decoration: underline;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 34px 0 68px;
  width: 268px;
  height: 46px;
  border: 1px solid rgba(255, 91, 46, 0.25);
  border-radius: 99px;
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 1.17;
  color: #656689;

  opacity: 0.8;
  background-color: #fff;
}
.search-form__input {
  width: 100%;
  height: 100%;
  border: none;
  padding: 0 22px;
  outline: none;
  border-radius: inherit;
}
.search-form___summit {
  margin-right: -1px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 46px;
  height: 46px;
  background: #ff5b2e;
  box-shadow: 0px 15px 28px -7px rgba(255, 91, 46, 0.3);
  border-radius: 50%;
  outline: none;
  border: none;
}
.search-form___summit:hover {
  opacity: 0.8;
  cursor: pointer;
}
.footer__heading {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.11;
  color: #000958;
}
.social__list {
  margin-top: 16px;
  display: flex;
  column-gap: 16px;
}
.social-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background: #ffffff;
  border: 1px solid #ffffff;
  box-shadow: 0px 16px 28px -10px rgba(211, 132, 53, 0.33);
  border-radius: 50%;
}
.social-item:hover {
  opacity: 0.8;
  cursor: pointer;
}
.footer__copyright {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.17;
  color: #656689;
  opacity: 0.5;
}
.footer__copyright {
  margin-top: 52px;
}
